# 의존성
node_modules/

# 환경 변수
.env*
.env.local
!.env.*.template
!.env.*.example

**/logs/
**/*.log
**/*-audit.json


# 빌드 결과물
dist/
out/
.next/

# 터보 캐시
.turbo/

# 로그
npm-debug.log*
pnpm-debug.log*

# 개인 개발 설정
.vscode/
.idea/

# OS 파일
.DS_Store
Thumbs.db

*.log
*.log.*

**/*-audit.json


